<html>
<head>
	<title>BMC Dining Menu</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.2/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>Welcome!</h1>
	{{erdmeals}}
	{{hafmeals}}
	<ol>
	{% for date in range(0,erddates|length-1) %}
		<li>{{ erddates[date] }}</li>
	{% endfor %}
	</ol>

	<ol>
	{% for menu in range(0,hafmenus|length-1) %}
		<li>That meal's menu:
			<ol>
			{% for item in range(0,hafmenus[menu]|length-1) %}
				<li>{{ hafmenus[menu][item] }}</li>
			{% endfor %}
			</ol>
		</li>
	{% endfor %}
	</ol>

	<ol>
	{% for meal in range(0,hafmeals|length-1) %}
		<li>{{ hafmeals[meal] }}</li>
	{% endfor %}
	</ol>
</body>
</html>